{erl_opts, []}.

{erl_opts, [
  {i, "lib/ejabberd/include"},
  {i, "lib/ejabberd/deps/xmpp/include"},
  {i, "lib/ejabberd/deps/fast_xml/include"}

]}.
{ deps, [
  {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.6.10"}}},
  { jsx, {git, "https://github.com/talentdeficit/jsx.git", { tag, "v3.0.0"}}}
]}.
{shell, [
  { apps, []}
]}.
